/bin/
.classpath
.project
.settings/
*.properties
src/main/webapp/META-INF/*
src/main/webapp/js/*
src/main/webapp/WEB-INF/*
src/main/webapp/WEB-INF/web.xml

/build/


### Oracle WALLET ###
Wallet_NupSO